/* хедер */ 
header .container {
display: flex;
}

.header-list {
    display: flex;
}

.header-link {
    margin-right: 55px;
    font-family: 'Montserrat';
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #95E1D3;
}

.header-link:hover {
color: #F38181;
border-bottom: 3px solid #F38181;
padding-bottom: 10px;
transition: 0.2s;
} 

.header-item:first-child {
    margin-left: 632px;
}

.header-title {
    font-family: 'Montserrat';
font-weight: 700;
font-size: 30px;
line-height: 0.81;
color: #95E1D3;
}
/* main */
.working-title {
    font-family: 'Kaushan Script';
    text-align: center;
font-weight: 400;
font-size: 24px;
line-height: 1.45;
color: #333333;
}

.services-title {
    font-family: 'Montserrat';
font-weight: 700;
font-size: 30px;
line-height: 1.23;
font-variant: small-caps;
color: #333333;
text-align: center;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
}

.services-item {
    margin-right: 70px;
}

.services-topic {
    font-family: 'Montserrat';
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #333333;
}
.services-text {
    font-family: 'Roboto';
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #B6B6B6;
flex-wrap: wrap;
}

/* секція 2 мейні */
.team-topic {
    font-family: 'Kaushan Script';
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
    text-align: center;
}

.team-title {
    font-family: 'Montserrat';
font-weight: 700;
font-size: 30px;
line-height: 37px;
font-variant: small-caps;
color: #333333;
text-align: center;
}

.team-sentens {
    font-family: 'Roboto';
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;
color: #B6B6B6;
}






